<!doctype html>
<html>
<head></head>
<body>
<h2>{{ listing }}<br/></h2>
<ul style="list-style: none;">
{% for each_dict in display_list['doc_list'] %}
    <li>{{ each_dict['document'] }} <a href="{{ each_dict['schema'] }}">schema</a>
        {% if each_dict['minify'] is not none %}
            <a href="{{ each_dict['minify'] }}">minify</a>
        {% endif %}
        {% if each_dict['validate'] is not none %}
            <a href="{{ each_dict['validate'] }}">validate</a><br/>
        {% endif %}
    </li>
{% endfor %}
</ul>
</body>
</html>